.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/flexCompiler.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/codeStyleSettings.xml
Renderer.iml
